/* 

    POSITION PROPERTY 

    DEFAULT: STATIC 

    ABSOLUTE: SON    (top, bottom)  (right, left)
    RELATIVE: PARENT



    FIXED:



    layers


*/
*{
    margin: 0; /* remove to all elements marign*/
}

body{
    height: 10000px;
}
nav{
    width: 100%;
    /* height: 70px; */
    padding: 20px 0px;
    background-color: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    /* font-size: 30px; */
    text-transform: uppercase;
}









.parent{
    width: 600;
    height: 600px;
    background-color: lightblue;
    position: relative;
}

.child
{
    width:200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 12px;
    left:50px;
}

aside{
    width: 200px;
    height: 600px;
    background-color: teal;
    position: fixed;

    top: 20px;
    left: 20px;
}






.one,
.two,
.three {
    width: 200px;
    height: 200px;
}

.one {
    background-color: cornflowerblue;
    position: absolute;
}



.two {
    background-color: blueviolet;
    position: absolute;
}


.three {
    background-color: crimson;
    position: absolute;

}

.top-left .one{
    top: 60px;
    left: 0;
}

.top-left .two {
    top: 80px;
    left: 20px;
}


.top-left .three {
    top: 100px;
    left: 40px;
}
/* ----------------------------------------------- */
.top-right .one {
    top: 60px;
    right: 0;
}

.top-right .two {
    top: 80px;
    right: 20px;
}


.top-right .three {
    top: 100px;
    right: 40px;
}



/* ----------------------------------------------- */
.bottom-left .one {
    bottom: 0;
    left: 0;
}

.bottom-left .two {
    bottom: 20px;
    left: 20px;
}


.bottom-left .three {
    bottom: 40px;
    left: 40px;
}

/* ----------------------------------------------- */
.bottom-right .one {
    bottom: 0;
    right: 0;
}

.bottom-right .two {
    bottom: 20px;
    right: 20px;
}


.bottom-right .three {
    bottom: 40px;
    right: 40px;
}